jupyter~=1.0.0
seaborn~=0.11.1
spacy~=3.0.5
spacy-langdetect~=0.1.2
termcolor~=1.1.0
scikit-learn~=0.24.1
gensim==3.8.3
pyLDAvis~=3.3.1
ipython~=7.22.0
SQLAlchemy==1.4.11
tweepy==3.10.0
pywhapbot==1.0.1